/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08-abr-2020, 9:54:40
    Author     : 2jesu
*/


.chart-pie-label-title {
    -fx-text-fill: darkorange;
}
.chart-pie-label {
    -fx-text-fill: darkorange;
    -fx-stroke: darkorange;
    -fx-weight: light;
}

.chart-pie-label-line{
    -fx-fill: darkorange;
    -fx-stroke: darkorange;
    -fx-font-size: 12pt;
   
   
}

.chart-title{
    -fx-font-size: 24pt;
    -fx-font-weight: bold;
    -fx-text-fill: darkorange;
}
.root {
    -fx-background-color: black;
}

.tool-bar {
    -fx-background-color: dimgrey;
}


.button {
   -fx-background-color: dimgrey;
   -fx-text-fill: darkorange;
   -fx-font-weight: bold;
}
.axis {
    -fx-tick-label-fill: darkorange;
}



.default-color0.chart-bar{
    -fx-bar-fill: darkorange;
}

.chart-plot-background{
    -fx-background-color: dimgrey;
}

.chart-vertical-grid-lines {
    -fx-stroke: darkorange;
}
.chart-horizontal-grid-lines {
    -fx-stroke: darkorange;
}

.chart-alternative-row-fill {
    -fx-fill: black;
    -fx-stroke: transparent;
    -fx-stroke-width: 0;
}
